<p id="notice"><%= notice %></p>

<p>
  <b>Header:</b>
  <%= @greeting.header %>
</p>

<p>
  <b>Body:</b>
  <%= @greeting.body %>
</p>

<p>
  <b>When:</b>
  <%= @greeting.when %>
</p>


<%= link_to 'Edit', edit_greeting_path(@greeting) %> |
<%= link_to 'Back', greetings_path %>
